---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';

const pageTitle = "首页";
---

<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<h1>我的 Astro 站点</h1>
	</body>
</html>
